node_modules/
dist/
dist-electron/
build/*
!build/icons
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
